/* Ready for you */
body {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b705c;
  height: 100vh;
}

.container {
  /* background-color: #a5a58d; */
  background-color: #ffe8d6;
  width: 320px;
  height: 320px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 2px;
  width: 100px;
  height: 100px;
  background-color: #b7b7a4;
  border-radius: 6px;
  font-size: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: #a5a58d;
}
